.panel
    background: #F0F0F0

.login-card
    margin: 0 auto!important
    position: relative
    top: 20%

    img
        max-width: 80%

.flex-box
    flex-wrap: wrap
    .col
        flex-basis: auto
