.result-box
    h1
        font-size: 40px
    h2
        font-size: 30px
    li
        font-size: 20px
.ranking
    > img
        vertical-align: middle
        width: 60px
        border-radius: 50%
        &.gold
            border: 12px solid #ffd700

        &.silver
            border: 12px solid #C0C0C0

        &.bronze
            border: 12px solid #cd7f32

.full
    width: 100%

#start
    min-height: 400px
    padding: 50px
    .brand
        max-height: 150px
        max-width: 80%
    .btn
        font-size: 35px

@media (max-width: 768px)
    .result-box
        h1
            font-size: 30px
        h2
            font-size: 20px
        li
            font-size: 16px
    #start
        padding: 0
        min-height: 150px
        .btn
            font-size: 18px
